<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="">
  <h1 class="principal">O SONHO DE UMA CIDADE DIFERENTE </h1>
  <p class="sonho">Hoje são mais de 43 milhões de veículos no país, segundo pesquisa mais recente do Departamento Nacional de trânsito (Denatran).</p> 
  <p>  Com tantos carros nas ruas, o congestionamento nas grandes cidades tem se tornado cada vez mais comum. Em meio a buzinas e a carros parados,
  as bicicletas são uma ótima opção para quem quer deslocar com mais facilidade no trânsito além de contribuir com a saúde e com o meio ambiente. 
  Cá entre nós? Nada como incentivar o uso da bicicleta e tentar fazer essa mudança a conter, a SmartBros quer isso.</p>
</ion-content>
